<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="theme-color" content="#16C79A">
    <meta name="msapplication-navbutton-color" content="#16C79A">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#16C79A">

    <!-- Title & Favicon -->
    <link rel="shortcut icon" href="/img/logo.svg" type="image/x-icon">
    <title>TEACHATION</title>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- CSS Files -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/remixicon.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/media.css">
</head>
<body>
    <div class="all-page">
        <!-- Start Page Header -->
        <header class="page-header">
            <div class="container">
                <nav class="navbar navbar-expand-lg">
                    <a class="navbar-brand" href="#">
                        <img src="/img/logo.svg" alt="Logo">
                    </a>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Books</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">About Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Features</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Favourites</a>
                            </li>
                        </ul>
                        <div class="btns">
                            <a href="/signin" class="btn login">Login</a>
                            <a href="/signup" class="btn app">Join now</a>
                        </div>
                    </div>
                </nav>
        </header>
        <!-- End Page Header -->

        <!-- Start Page Main -->
        <main class="page-main">
            <!-- Start Header Section -->
            <section class="new-sec header-sec">
                <div class="container">
                    <div class="flex-boxes">
                        <div class="col-lg-6 clm">
                            <div class="content-div">
                                <h1 class="page-title">Learn from the best teachers in the internet</h1>
                                <p class="page-desc">Morem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut</p>
                                <div class="btns-div">
                                    <button class="btn join-btn">Join now</button>
                                    <button class="btn find-btn">Find a teacher</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 clm">
                            <div class="image-div">
                                <img src="/img/header-img.png" alt="Learn">
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Image Back -->
                <img src="/img/header-back.png" class="back" alt="Header Background">
            </section>
            <!-- End Header Section -->

            <!-- Start Books Section -->
            <section class="new-sec books-sec">
                <div class="container">
                    <div class="title-div">
                        <h3 class="sec-title">Books for you</h3>
                    </div>

                    <!-- Books Row -->
                    <div class="books-flex">
                        <!-- Single Book -->
                        <div class="single-book">
                            <div class="book-content">
                                <div class="book-image">
                                    <img src="https://covers.openlibrary.org/w/id/8576476-M.jpg" alt="Book Name">
                                    <a href="/book/2/favourite" class="btn fav-btn">
                                        <span class="ri-heart-line"></span>
                                    </a>
                                </div>
                                <div class="book-info">
                                    <h4 class="book-category">Thrillers</h4>
                                    <h3 class="book-name">Carrie Book</h3>
                                    <h5 class="book-author">Stephen King</h5>
                                </div>
                            </div>
                        </div>

                        <!-- Single Book -->
                        <div class="single-book">
                            <div class="book-content">
                                <div class="book-image">
                                    <img src="https://covers.openlibrary.org/b/id/8123390-L.jpg" alt="Book Name">
                                    <a href="/book/2/favourite" class="btn fav-btn">
                                        <span class="ri-heart-line"></span>
                                    </a>
                                </div>
                                <div class="book-info">
                                    <h4 class="book-category">We Love</h4>
                                    <h3 class="book-name">Of Mice and Men</h3>
                                    <h5 class="book-author">John Steinbeck</h5>
                                </div>
                            </div>
                        </div>

                        <!-- Single Book -->
                        <div class="single-book">
                            <div class="book-content">
                                <div class="book-image">
                                    <img src="https://covers.openlibrary.org/b/id/7434792-L.jpg" alt="Book Name">
                                    <a href="/book/2/favourite" class="btn fav-btn active">
                                        <span class="ri-heart-line"></span>
                                    </a>
                                </div>
                                <div class="book-info">
                                    <h4 class="book-category">Romance</h4>
                                    <h3 class="book-name">P.S. I Still Love You</h3>
                                    <h5 class="book-author">Jenny Han</h5>
                                </div>
                            </div>
                        </div>

                        <!-- Single Book -->
                        <div class="single-book">
                            <div class="book-content">
                                <div class="book-image">
                                    <img src="https://covers.openlibrary.org/b/id/233761-L.jpg" alt="Book Name">
                                    <a href="/book/2/favourite" class="btn fav-btn">
                                        <span class="ri-heart-line"></span>
                                    </a>
                                </div>
                                <div class="book-info">
                                    <h4 class="book-category">Kids</h4>
                                    <h3 class="book-name">Following Fake Man</h3>
                                    <h5 class="book-author">Barbara Holmes</h5>
                                </div>
                            </div>
                        </div>

                        <!-- Single Book -->
                        <div class="single-book">
                            <div class="book-content">
                                <div class="book-image">
                                    <img src="https://covers.openlibrary.org/b/id/233761-L.jpg" alt="Book Name">
                                    <a href="/book/2/favourite" class="btn fav-btn">
                                        <span class="ri-heart-line"></span>
                                    </a>
                                </div>
                                <div class="book-info">
                                    <h4 class="book-category">Kids</h4>
                                    <h3 class="book-name">Following Fake Man</h3>
                                    <h5 class="book-author">Barbara Holmes</h5>
                                </div>
                            </div>
                        </div>

                        <!-- Single Book -->
                        <div class="single-book">
                            <div class="book-content">
                                <div class="book-image">
                                    <img src="https://covers.openlibrary.org/b/id/8123390-L.jpg" alt="Book Name">
                                    <a href="/book/2/favourite" class="btn fav-btn">
                                        <span class="ri-heart-line"></span>
                                    </a>
                                </div>
                                <div class="book-info">
                                    <h4 class="book-category">We Love</h4>
                                    <h3 class="book-name">Of Mice and Men</h3>
                                    <h5 class="book-author">John Steinbeck</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Books Section -->

            <!-- Start Article Section -->
            <section class="new-sec article-sec f-article">
                <div class="container">
                    <div class="flex-boxes">
                        <div class="col-lg-6 clm">
                            <div class="image-div">
                                <img src="/img/our-app.png" alt="Our App">
                            </div>
                        </div>
                        
                        <div class="col-lg-6 clm">
                            <div class="content-div">
                                <h3 class="sec-title">Our app <br>One platform for it all</h3>
                                <p class="sec-para">Morem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Article Section -->

            <!-- Start Article Section -->
            <section class="new-sec article-sec">
                <div class="container">
                    <div class="flex-boxes">
                        <div class="col-lg-6 clm">
                            <div class="content-div">
                                <h3 class="sec-title">Be our <br> Next lucky alumni!</h3>
                                <p class="sec-para">Morem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et</p>
                            </div>
                        </div>

                        <div class="col-lg-6 clm">
                            <div class="image-div">
                                <img src="/img/be-our.png" alt="Our App">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Article Section -->

            <!-- Start Features Section -->
            <section class="new-sec features-sec">
                <div class="container">
                    <div class="title-div">
                        <h3 class="sec-title">Only what matters to you</h3>
                    </div>

                    <div class="boxes-sec">
                        <div class="flex-boxes">
                            <!-- Single Box -->
                            <div class="col-sm-6 col-lg-4">
                                <div class="single-box">
                                    <div class="image-div">
                                        <img src="/img/laptop.svg" alt="Laptop">
                                    </div>
                                    <h5 class="box-title">Online education</h5>
                                </div>
                            </div>

                            <!-- Single Box -->
                            <div class="col-sm-6 col-lg-4">
                                <div class="single-box">
                                    <div class="image-div">
                                        <img src="/img/medal.svg" alt="medal">
                                    </div>
                                    <h5 class="box-title">Learn from The best</h5>
                                </div>
                            </div>
                            
                            <!-- Single Box -->
                            <div class="col-sm-6 col-lg-4">
                                <div class="single-box">
                                    <div class="image-div">
                                        <img src="/img/certificate.svg" alt="certificate">
                                    </div>
                                    <h5 class="box-title">Get Certified</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Features Section -->

        </main>
        <!-- End Page Main -->

        <!-- Start Page Footer -->
        <footer class="page-footer">
            <div class="container">
                <div class="title-div">
                    <h3 class="footer-title">Contact us</h3>
                </div>

                <form class="form footer-form">
                    <input type="text" class="inpt" placeholder="Your name">
                    <input type="email" class="inpt" placeholder="Your e-mail">
                    <input type="submit" class="btn submit" value="Submit">
                </form>

                <p class="footer-para">
                    Enter your information and our advisors will contact you within 48 hours.
                    Or contact us directly via <span class="email">tech@teachation.com</span>
                </p>
            </div>
        </footer>
        <!-- End Page Footer -->
    </div>

    <!-- Start Calling JavaScript Files -->

    <!-- End Calling JavaScript Files -->
</body>
</html>