<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/signin.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/signup.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Sign In</title>
</head>

<body>
  <div class="back">
    <img src="/images/header-back.png" alt="header back img" class="header-back">
    <img src="/images/header-img.png" alt="header img" class="header-img">
  </div>
  <div class="container">
    <div class="header">
      <h2>Sign In</h2>
    </div>
    <div id="form" class="form">
      <div class="form-control">
        <label for="email">Email</label>
        <input type="email" placeholder="email" id="email" />
        <i class="fas fa-check-circle"></i>
        <i class="fas fa-exclamation-circle"></i>
        <small>Error message</small>
      </div>
      <div class="form-control">
        <label for="password">password</label>
        <input type="password" placeholder="password" id="password" />
        <i class="fas fa-check-circle"></i>
        <i class="fas fa-exclamation-circle"></i>
        <small>Error message</small>
      </div>
      <button id="btn">Sign In</button>
      <br />
      <div class="sign-up">Don't have an account?
        <a href="/signup" class="here"> here</a>
      </div>
    </div>
  </div>
  <script src="/js/index.js"></script>
</body>

</html>